@model IEnumerable<SebastianLargo_Examen1P.Models.SL_modelo1>

@{
    ViewData["Title"] = "Tabla de usuarios";
}

<h1>Tabla de usuarios</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SLDecimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SLNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SLCaracter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SLDecimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SLNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SLCaracter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SLPerfilID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SLPerfilID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SLPerfilID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
